@import '../../../common/base.scss';

$nutritionVisualizerDeleteIconWidth: 3rem;
$layoutItemPadding: 0.5rem;

.nutritionVisualizer {

}

.nutritionVisualizer-graphs {

}

.nutritionVisualizer-info {
    display: flex;
}

.nutritionVisualizer-info > * {
    margin-right: 1rem;
}

.nutritionVisualizer-intake {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.nutritionVisualizer-intake-list {
    padding-left: 0rem;
}

.nutritionVisualizer-intake-listItem {
    display: flex;
    border-bottom: 1px solid $darkMinus3;
}

.nutritionVisualizer-intake-listItem > div {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100%;
}

.nutritionVisualizer-intake-listItem > div > .label {
    max-width: 60%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
}


.nutritionVisualizer-intake-listItem > div > .serving {
    padding-right: 0.5rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 30%;
}

.nutritionVisualizer-foodItem-delete {
    flex: 0 $nutritionVisualizerDeleteIconWidth;
}

.nutritionVisualizer-foodItem-delete.nutritionVisualizer-foodItem-delete > svg { // doubled identical selector to override default FontAwesome selector
    width: $nutritionVisualizerDeleteIconWidth;
    height: 3rem;
    padding: 0.75rem;
}

.nutritionVisualizer-nutrition {
    width: 100%;
    margin-top: 0.5rem;
}

.nutritionVisualizer-addBtn {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.nutritionVisualizer-date {
    align-self: unset;
    display: flex;
    margin-bottom: 1rem;
}

@media screen and (min-width: $pageWidth / 16 * 12) { // styling when double column
    .nutritionVisualizer-intake, 
    .nutritionVisualizer-nutrition {
    }

    .nutritionVisualizer-nutrition {
        margin-top: 0;
    }

    .nutritionVisualizer > .nutritionVisualizer-date {
        align-self: flex-start;
    }
}

.nutritionVisualizer-nutrition-table {
    
}

.nutritionVisualizer-nutrition-grouping:not(:last-child) {
    margin-bottom: 1rem;
}

.nutritionVisualizer-nutrition-entry {
    border: 0.1rem solid $darkMinus3;
}

.nutritionVisualizer-nutrition-entryContents {
    padding: 0.25rem 1rem;
    background: $darkMinus1;
}

.nutritionVisualizer-nutrition-nutrientLabel {

}

.nutritionVisualizer-nutrition-nutrientAmount {
    font-size: 1.3rem;
    display: flex;
}

.nutritionVisualizer-nutrition-progressBar {
    flex: 1 0rem;
    background: $blue;
    transform-origin: 0% 50%;
}

.nutritionVisualizer-nutrition-percentage {
    flex: 0 5rem;
    margin-left: 1rem;
    line-height: 1.5em;
}

.nutritionVisualizer-nutrition-entry > .dropdown-contents {
    background: $darkPlus2;
}

.nutritionVisualizer-nutrition-breakdownEntry {
    display: flex;
    width: 100%;
    font-size: 1.3rem;
}

.nutritionVisualizer-nutrition-breakdownEntry > .progressBar {
    flex: 1 0;
    margin: 0rem 1rem;
}

.nutritionVisualizer-nutrition-breakdownEntryLabel {
    flex: 0 10rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nutritionVisualizer-nutrition-breakdownEntryPercentage {
    flex: 0 3.5rem;
}

.nutritionVisualizer-nutrition-breakdown {
    padding: 1rem;
}