@import '../../common/colors.scss';

.collapser {
    width: 100%;
}

.collapser-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.collapser-icon {
    margin: 0.25rem;
}

.collapser-content {
    padding: 0rem 1rem;
}