@import '../../common/colors.scss';

.usersPage-link {
    color: $blue;
}

.usersPage-paragraph.usersPage-paragraph {
    padding: 0.5rem 0.75rem;
    margin: 0rem;
}

.usersPage > form {
    
}