[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
"psycopg2" = "*"
gunicorn = "*"
pymysql = "*"
passlib = "*"
redis = "*"
flask-mail = "*"
premailer = "*"
pycryptodome = "*"
peewee = "*"
peewee-migrate = "*"
mongoengine = "*"
pymongo = {extras = ["srv"],version = "*"}

[requires]
python_version = "3.7"
