@import '../../../common/colors.scss';

$darkGreen: green;
$darkGreen: green;
$darkGreen: green;
$darkGreen: green;
$darkGreen: green;

$sectionMargin: 2rem;

.resume.resume.resume.resume {
    padding: 5rem 6rem;
}

.resume > section + section {
    margin-top: 1rem;
}

.resume-me {
    padding: 0.25rem;
}

.resume-me > * {
    display: flex;
    justify-content: center;
}

.resume-link {
    font-size: 1.3rem;
}

.resume-school > * {
    margin-right: 1rem;
}

.resume-skills-categorySection {
    display: flex;
}

.resume-skills-skillPill {
    padding: 0.5rem 1rem;
    margin: 0rem 0.25rem;
    border: 0px;
    border-radius: 3rem;
    color: $light;
    line-height: normal;
}

.resume-skills-subsection {
    margin-top: 0.25rem;
}

.resume-section-header {
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid $orange;
}

.resume-skills-separator {
    margin-right: 0.5rem;
}

.resume-skills-skillPill.level-3 {
    background-color: $lmGreen;
}

.resume-skills-skillPill.level-2 {
    background-color: $lmBlue;
}

.resume-skills-skillPill.level-1 {
    background-color: $lmPurple;
}

.resume-skills-skillPill.level-0 {
    background-color: $lmRed;
}

.resume-legend > * {
    margin-right: 3rem;
}

.resume-work-entry {
    padding: 0rem 0.25rem 0.5rem 0.25rem;
    border-radius: 2rem;
}

.resume-work-descriptionContainer {
    padding-top: 0.5rem;
    border-top: 0.1rem solid $yellow;
}

// I'm bodging this so that I can have an easy way to get a printable resume...
// This is in no way indicative of my standards for CSS style formatting!
.resume.resume.printMode {
    background: white;

    .resume-name.resume-name, .resume-tagline.resume-tagline {
        font-weight: 900;
    }

    .resume-school, .resume-work-entry, .resume-legend-text {
        color: $dark;
    }

    .resume-me {
        background: $lmBlue;
    }

    .resume-me * {
        color: white;
    }

    h4 {
        color: $lmBlue;
    }

    h5 {
        color: $lmGreen;
    }

    .resume-skills-skillPill {
        color: white;
    }

    .resume-work-entry {
        padding: 0.75rem;
    }

    .resume-work-entry + .resume-work-entry {
        margin-top: 0.2rem;
    }
    
    .resume-work-descriptionContainer {
        border-top: 0.1rem solid $lmBlue;
    }

    .resume-skills-skillPill.level-null {
        color: $dark;
    }

    .resume-section-header {
        border-bottom: 0.1rem solid $lmBlue;
    }
} 