$baseSize: 10px;
$pageWidth: $baseSize * 96;

$size1: 0.1rem;
$size2: 0.2rem;
$size3: 0.3rem;
$size4: 0.4rem;
$size5: 0.5rem;
$size6: 0.6rem;
$size7: 0.7rem;
$size8: 0.8rem;
$size9: 0.9rem;
$size10: 1rem;