@import './sizes.scss';

.ml1 {
    margin-left: $size1;
}

.ml2 {
    margin-left: $size2;
}

.ml3 {
    margin-left: $size3;
}

.ml4 {
    margin-left: $size4;
}

.ml5 {
    margin-left: $size5;
}

.ml6 {
    margin-left: $size6;
}

.ml7 {
    margin-left: $size7;
}

.ml8 {
    margin-left: $size8;
}

.ml8 {
    margin-left: $size9;
}

.ml10 {
    margin-left: $size10;
}



.mr1 {
    margin-right: 0.1rem;
}

.mr2 {
    margin-right: 0.2rem;
}

.mr3 {
    margin-right: $size3;
}

.mr4 {
    margin-right: $size4;
}

.mr5 {
    margin-right: $size5;
}

.mr6 {
    margin-right: $size6;
}

.mr7 {
    margin-right: $size7;
}

.mr8 {
    margin-right: $size8;
}

.mr9 {
    margin-right: $size9;
}

.mr10 {
    margin-right: $size10;
}



.mb1 {
    margin-bottom: $size1;
}

.mb2 {
    margin-bottom: $size2;
}

.mb3 {
    margin-bottom: $size3;
}

.mb4 {
    margin-bottom: $size4;
}

.mb5 {
    margin-bottom: $size5;
}

.mb6 {
    margin-bottom: $size6;
}

.mb7 {
    margin-bottom: $size7;
}

.mb8 {
    margin-bottom: $size8;
}

.mb9 {
    margin-bottom: $size9;
}

.mb10 {
    margin-bottom: $size10;
}



.mt1 {
    margin-top: $size1;
}

.mt2 {
    margin-top: $size2;
}

.mt3 {
    margin-top: $size3;
}

.mt4 {
    margin-top: $size4;
}

.mt5 {
    margin-top: $size5;
}

.mt6 {
    margin-top: $size6;
}

.mt7 {
    margin-top: $size7;
}

.mt8 {
    margin-top: $size8;
}

.mt9 {
    margin-top: $size9;
}

.mt10 {
    margin-top: $size10;
}
