@import '../colors.scss';

button {
    border: none;
    color: $light;
    background: darken( $dark, 7.5% );
    cursor: pointer;
}

button:hover:not(:disabled) {
    background: $darkMinus1;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

button.submit {
    padding: 0.45rem;
}