@import '../../../common/colors.scss';

$nutritionSearcherLeftPadding: 0.5rem;

.nutrition-foodSearcher {
    margin-top: 0.5rem;
    width: 100%;
    background: $darkPlus1;
}

.nutrition-foodSearcher-searchbar {
    display: flex;
}

.nutrition-foodSearcher-searchbar > input {
    flex: 1 0;
    padding-left: $nutritionSearcherLeftPadding;
}

.nutrition-foodSearcher-searchbar > button {
    flex: 0 9rem;
}

.nutrition-foodSearcher-searchbar > .nutrition-foodSearcher-cancel {
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
}

.nutrition-foodSearcher-results {
    max-height: 28rem;
    overflow-y: scroll;
    box-shadow: 0.25rem 0.25rem 1rem lighten( $dark, 5% );
}

.nutrition-foodSearcher-item {
    padding: 0.25rem $nutritionSearcherLeftPadding;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 100%;
}

.nutrition-foodSearcher-item:hover {
    background: transparentize( $light, 0.95 );
    color: $yellow;
}

.nutrition-foodSearcher-item > svg {
    margin-right: 0.75rem;
}

.nutrition-foodSearcher-pill {
    flex: 1 0;
    display: flex;
    justify-content: space-between;
    padding-left: $nutritionSearcherLeftPadding;
    overflow-x: hidden;
}

.nutrition-foodSearcher-pill > span:first-child {
    flex: 1 0;
    color: $yellow;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.nutrition-foodSearcher-pill > .nutrition-foodSearcher-clearSearch > svg {
    color: $red;
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
}

.nutrition-foodSearcher-optionsContainer {
    display: flex;
    flex-direction: column;
}

.nutrition-foodSearcher-optionsContainer > div:not(.nutrition-foodSearcher-optionsEntry) {
    padding-left: $nutritionSearcherLeftPadding;
}

.nutrition-foodSearcher-optionsEntry {
    display: flex;
}

.nutrition-foodSearcher-amount {
    min-width: 0rem;
    padding: 0.25rem $nutritionSearcherLeftPadding;
    flex: 1 0;
}

.nutrition-foodSearcher-unitSelector {
    color: $green;
    flex: 0 10rem;
    max-width: 10rem;
}

.nutrition-foodSearcher-unitSelector > .select-clicker {
    padding: 0rem $nutritionSearcherLeftPadding;
}

.nutrition-foodSearcher-unitSelector > .dropdown-menu > .select-options {
    max-width: 16rem;
}

.nutrition-foodSearcher-unitSelector > .dropdown-menu > .select-options > option {
    padding-left: $nutritionSearcherLeftPadding;
    padding-right: $nutritionSearcherLeftPadding;
}